Django==1.6.5
Fabric==1.8.3
Pillow==2.4.0
South==0.8.4
argparse==1.2.1
boto==2.28.0
dj-database-url==0.3.0
dj-static==0.0.5
django-appconf==0.6
django-ckeditor-updated==4.4.0
django-imagekit==3.2.1
django-modeltranslation==0.7.3
django-money==0.4.1
django-rosetta==0.7.4
django-storages==1.1.8
django-toolbelt==0.0.1
ecdsa==0.11
gunicorn==18.0
paramiko==1.12.4
pilkit==1.1.8
polib==1.0.4
psycopg2==2.5.3
py-moneyed==0.5.0
pycrypto==2.6.1
pystache==0.5.4
python-decouple==2.2
requests==2.2.1
six==1.6.1
static==1.0.2
wsgiref==0.1.2
