<!DOCTYPE html>
<html>
<head>
    <title>Mobiliados</title>
</head>
<body style="font-family: Arial, Verdana, Tahoma, sans-serif;">
<h2 style="color: #555555;">Contato: Mobiliados</h2>
<div>
    <h3 style="color: #993300; margin-bottom: 0; padding-bottom: 0;">Dados:</h3>
    Nome: {{ name }} {{ surname }}<br />
    Email: {{ email }}<br />
    Telefone: {{ phone }}<br />
    Assunto: <strong style="color: #555555;">{{ subject }}</strong>
    Imóvel: <strong style="color: #555555;">{{ realty }}</strong>
</div>
<div>
    <h3 style="color: #993300; margin-bottom: 0; padding-bottom: 0;">Mensagem:</h3>
    {{ message }}
</div>
<br />
<div style="border-top: dotted 1px #ccc;"><table>
    <tr>
        <td style="padding-right: 5px;"><img width="65" src="https://mobiliados.s3.amazonaws.com/static/img/logo-mobiliados-v3.png" alt="Mobiliados" /></td>
        <td style="font-size: 0.8em; border-left: dotted 1px #ccc; padding-left: 8px; font-weight: bold; color: #aaa;">
            &copy; 2014 Mobiliados<br />
            Rua República do Líbano, 1080 - Meireles - Fortaleza/CE
        </td>
    </tr>
</table></div>
</body>
</html>