{% extends 'core/contato.html' %}
{% load i18n %}
{% load staticfiles %}
{% block titulo %}
        <h2>{% trans 'Fale conosco' %}</h2>
        <div class="alert alert-warning">
            <strong>Envie suas solicitações, dúvidas, sugestões e reclamações.
            Se preferir, envie um e-mail para <a href="mailto:mobiliados@mobiliados.com.br">mobiliados@mobiliados.com.br</a>.
            Sua opinião é muito importante para nós!</strong>
        </div>
    {% endblock %}
{% block content %}
    {{ block.super }}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $("#site-fale-conosco").addClass("active");
        });
    </script>
{% endblock %}