{% extends 'base.html' %}
{% load i18n %}
{% load djmoney %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-9">
            <h2>
                {% if imovel.nome %}{{ imovel.nome|upper }}{% endif %}
                {% if imovel.tipo_imovel %}<small>&rsaquo; {{ imovel.tipo_imovel }}</small>{% endif %}
            </h2>
            <h3>
                {% trans 'Cód:' %} <span class="label label-default">#{{ imovel.codigo }}</span>
                <span class="label {% if imovel.alugado %}label-danger{% else %}label-success{% endif %}">
                {% if imovel.alugado %}{% trans 'Alugado' %}{% else %}{% trans 'Livre' %}{% endif %}</span>
            </h3>
            <div class="row">

                <div class="col-md-7 destaque-desc">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="flexslider-detalhe" class="flexslider">
                                <ul class="slides">
                                    {% for imagem in imovel.imagem_set.all %}
                                        <li><img src="{{ imagem.display.url }}"/></li>
                                    {% empty %}
                                        {% trans 'Sem imagem' %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="flexslider-detalhe-thumb" class="flexslider">
                                <ul class="slides">
                                    {% for imagem in imovel.imagem_set.all %}
                                        <li><img src="{{ imagem.thumb.url }}"/></li>
                                    {% empty %}
                                        {% trans 'Sem imagem' %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end-box -->

                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="desc-menor">{% trans 'Endereço' %}:</span><br/>
                            {{ imovel.endereco }}, N&ordm; {{ imovel.numero }}<br>
                            {% if imovel.valor.amount > 0 %}
                                <div class="diaria">
                                {% trans 'A partir de' %} <span class="label destaque-preco">{% money_localize imovel.valor %}</span>
                                {% trans 'a diária' %}
                                </div>
                            {% endif %}
                            {% if imovel.valor_mensal.amount > 0 %}
                                <div class="mensal">
                                {% trans 'A partir de' %} <span class="label destaque-preco">{% money_localize imovel.valor_mensal %}</span>
                                {% trans 'mensal' %}
                                </div>
                            {% endif %}
                            {% if imovel.descricao %}<br><br>
                                <span class="desc-menor">{% trans 'Descrição' %}:</span><br/>
                                {{ imovel.descricao|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if imovel.incorporar_mapa %}
                    <div class="col-md-12 imovel-maps">
                        {{ imovel.incorporar_mapa|safe }}
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="col-md-3 parceiros">
            <div class="row">
                <div class="col-md-12 title">
                    <strong>{% trans 'Parceiros' %}</strong>
                </div>
                <div class="col-md-12">
                    {% for imagem in parceiros %}
                        <a href="{% if imagem.site %}{{ imagem.site }}{% else %}#{% endif %}" class="thumbnail" target="_blank">
                            <img src="{{ imagem.display.url }}"
                                    {% if imagem.titulo and imagem.descricao %}
                                        title="{{ imagem.titulo }} | {{ imagem.descricao }}" alt="{{ imagem.titulo }} | {{ imagem.descricao }}"
                                    {% elif parceiro.titulo %}
                                        title="{{ imagem.titulo }}" alt="{{ imagem.titulo }}"
                                    {% else %}
                                        title="{% trans 'Sem título' %}" alt="{% trans 'Sem título' %}"
                                    {% endif %}/>
                        </a>
                    {% empty %}
                        <div class="alert alert-warning">{% trans 'Sem imagem' %}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}