{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load djmoney %}
{% load staticfiles %}

{% block script %}
<!-- Maps API Javascript -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% if DEBUG %}
    <!-- Caixa de informação -->
    <script src="{% static 'libs/maps/1-infobox.js' %}"></script>
    <!-- Agrupamento dos marcadores -->
    <script src="{% static 'libs/maps/2-markerclusterer.js' %}"></script>
    <!-- Arquivo de inicialização do mapa -->
    <script src="{% static 'libs/maps/3-mapa.js' %}"></script>
{% else %}
    <script src="{% static 'libs/maps/app.min.js' %}"></script>
{% endif %}
<script>
    $(document).ready(function(){
        $("#site-imoveis").addClass("active");
        {% if tipo_imovel %}
            $("#site-tipo-imovel-{{ tipo_imovel.pk }}").addClass("active");
        {% else %}
            $("#site-tipo-imovel-todos").addClass("active");
        {% endif %}
    });
    {% if tipo_imovel %}
        url_json = '/imoveis-por-tipo-json/{{ tipo_imovel.pk }}/';
    {% else %}
        url_json = '/imoveis-json/';
    {% endif %}
    carregarPontos();
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-9">
            <h2>{% trans 'Imóveis' %} {% if tipo_imovel %}<small>&rsaquo; {{ tipo_imovel }}</small>{% endif %}</h2>
            {% for imovel in imoveis %}
            <div class="row">
                <div class="col md-12 imovel-list">
                    <div class="row">
                        <div class="col-md-3 destaque-desc">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flexslider flexslider-destaque">
                                        <ul class="slides">
                                            {% for imagem in imovel.imagem_set.all|slice:":4" %}
                                            <li data-thumb="{{ imagem.thumb.url }}">
                                                <a href="{% url 'core:imovel' imovel.pk %}"><img src="{{ imagem.display.url }}" alt="{{ imagem.descricao }}" title="{{ imagem.descricao }}"/></a>
                                            </li>
                                            {% empty %}
                                                {% trans 'Sem imagem' %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end-box -->
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    {% comment %}
                                    <h4 id="imovel-{{ imovel.codigo }}">
                                        <span class="label label-default"><small>{% trans 'Cód:' %}</small> #{{ imovel.codigo }}</span>
                                        <span class="label {% if imovel.alugado %}label-danger{% else %}label-success{% endif %}">
                                        {% if imovel.alugado %}{% trans 'Alugado' %}{% else %}{% trans 'Livre' %}{% endif %}</span>
                                    </h4>
                                    {% endcomment %}
                                    {% if imovel.nome %}<h3><a href="{% url 'core:imovel' imovel.pk %}">{{ imovel.nome|upper }}</a> {% if not tipo_imovel %}<small>{{ imovel.tipo_imovel }}</small>{% endif %}</h3>{% endif %}
                                    {{ imovel.endereco }}, N&ordm; {{ imovel.numero }}
                                    {% if imovel.complemento %} - {{ imovel.complemento }}{% endif %} - {{ imovel.cidade.descricao }} / {{ imovel.uf.abreviatura }}<br/>
                                    {% if imovel.valor.amount > 0 %}
                                        <div class="diaria linha-preco">
                                        {% trans 'A partir de' %} <span class="label destaque-preco">{% money_localize imovel.valor %}</span>
                                        {% trans 'a diária' %}
                                        </div>
                                    {% endif %}
                                    {% if imovel.valor_mensal.amount > 0 %}
                                        <div class="mensal linha-preco">
                                        {% trans 'A partir de' %} <span class="label destaque-preco">{% money_localize imovel.valor_mensal %}</span>
                                        {% trans 'mensal' %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"><br/></div>
            {% empty %}
                <div class="col-md-12"><div class="alert alert-warning">{% trans 'Sem imóveis' %}</div></div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 imovel-maps" id="mapa"></div>
            </div>
        </div>

        <div class="col-md-3 parceiros">
            {% include 'core/parceiros_snip.html' %}
        </div>

    </div>
</div>
{% endblock %}