{% extends 'base.html' %}
{% load i18n %}
{% load djmoney %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-9">
            <h2>
                {% if imovel.nome %}{{ imovel.nome|upper }}{% endif %}
                {% if imovel.tipo_imovel %}<small>&rsaquo; {{ imovel.tipo_imovel }}</small>{% endif %}
            </h2>
            <div class="row">

                <div class="col-md-7 destaque-desc">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="flexslider-detalhe" class="flexslider">
                                <ul class="slides">
                                    {% for imagem in imovel.imagem_set.all %}
                                        <li><img src="{{ imagem.display.url }}" alt="{{ imagem.descricao }}" title="{{ imagem.descricao }}"/></li>
                                    {% empty %}
                                        {% trans 'Sem imagem' %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="flexslider-detalhe-thumb" class="flexslider">
                                <ul class="slides">
                                    {% for imagem in imovel.imagem_set.all %}
                                        <li><img src="{{ imagem.thumb.url }}" alt="{{ imagem.descricao }}" title="{{ imagem.descricao }}"/></li>
                                    {% empty %}
                                        {% trans 'Sem imagem' %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end-box -->

                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="desc-menor">{% trans 'Endereço' %}:</span><br/>
                            {{ imovel.endereco }}, N&ordm; {{ imovel.numero }}<br>
                            {% if imovel.valor.amount > 0 %}
                                <div class="diaria linha-preco">
                                {% trans 'A partir de' %} <span class="label destaque-preco">{% money_localize imovel.valor %}</span>
                                {% trans 'a diária' %}
                                </div>
                            {% endif %}
                            {% if imovel.valor_mensal.amount > 0 %}
                                <div class="mensal linha-preco">
                                {% trans 'A partir de' %} <span class="label destaque-preco">{% money_localize imovel.valor_mensal %}</span>
                                {% trans 'mensal' %}
                                </div>
                            {% endif %}
                            {% if imovel.descricao %}<br>
                                <span class="desc-menor">{% trans 'Descrição' %}:</span><br/>
                                {{ imovel.descricao|safe }}
                            {% endif %}
                        </div>
                        {% comment %}
                        <div class="col-md-12">
                            <h3>
                                <span class="label label-default"><small>{% trans 'Cód:' %}</small> #{{ imovel.codigo }}</span>
                                <span class="label {% if imovel.alugado %}label-danger{% else %}label-success{% endif %}">
                                {% if imovel.alugado %}{% trans 'Alugado' %}{% else %}{% trans 'Livre' %}{% endif %}</span>
                            </h3>
                        </div>
                        {% endcomment %}
                    </div>
                </div>

                {% if imovel.incorporar_mapa %}
                    <div class="col-md-12 imovel-maps">
                        {{ imovel.incorporar_mapa|safe }}
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="col-md-3 parceiros">
            {% include 'core/parceiros_snip.html' %}
        </div>

    </div>
</div>
{% endblock %}