{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% if rotativas %}
            <div class="flexslider-principal flexslider">
                <ul class="slides">
                    {% for imagem in rotativas %}
                        <li>
                            <img src="{{ imagem.display.url }}"
                                    {% if imagem.titulo and imagem.descricao %}
                                        title="{{ imagem.titulo }} | {{ imagem.descricao }}" alt="{{ imagem.titulo }} | {{ imagem.descricao }}"
                                    {% elif parceiro.titulo %}
                                        title="{{ imagem.titulo }}" alt="{{ imagem.titulo }}"
                                    {% else %}
                                        title="{% trans 'Sem título' %}" alt="{% trans 'Sem título' %}"
                                    {% endif %}/>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <div class="alert alert-warning">{% trans 'Sem imagem' %}</div>
            {% endif %}
        </div>

        <div class="col-md-3 parceiros">
            <div class="row">
                <div class="col-md-12 title">
                    <strong>{% trans 'Parceiros' %}</strong>
                </div>
                <div class="col-md-12">
                    {% for imagem in parceiros %}
                        <a href="{% if imagem.site %}{{ imagem.site }}{% else %}#{% endif %}" class="thumbnail" target="_blank">
                            <img src="{{ imagem.display.url }}"
                                    {% if imagem.titulo and imagem.descricao %}
                                        title="{{ imagem.titulo }} | {{ imagem.descricao }}" alt="{{ imagem.titulo }} | {{ imagem.descricao }}"
                                    {% elif parceiro.titulo %}
                                        title="{{ imagem.titulo }}" alt="{{ imagem.titulo }}"
                                    {% else %}
                                        title="{% trans 'Sem título' %}" alt="{% trans 'Sem título' %}"
                                    {% endif %}/>
                        </a>
                    {% empty %}
                        <div class="alert alert-warning">{% trans 'Sem imagem' %}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h2>{% trans 'Imóveis em destaque' %}</h2>
        </div>

        {% for imovel in imoveis %}
        <div class="col-md-3 destaque-desc">
            <div class="row">
                <div class="col-md-12">
                    <h5><a href="{% url 'core:imovel' imovel.pk %}">{{ imovel.tipo_imovel }}</a> <span class="label {% if imovel.alugado %}label-danger{% else %}label-default{% endif %} pull-right">
                        #{{ imovel.codigo }} {% if imovel.alugado %}Alugado{% endif %}</span></h5>
                </div>
                <div class="col-md-12">
                    <div class="flexslider flexslider-destaque">
                        <ul class="slides">
                            {% for imagem in imovel.imagem_set.all|slice:":4" %}
                            <li data-thumb="{{ imagem.thumb.url }}">
                                <a href="{% url 'core:imovel' imovel.pk %}"><img src="{{ imagem.display.url }}"/></a>
                            </li>
                            {% empty %}
                                {% trans 'Sem imagem' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    {% if imovel.nome %}<strong><a href="{% url 'core:imovel' imovel.pk %}">{{ imovel.nome|upper }}</a></strong><br>{% endif %}
                    {{ imovel.endereco }}, {{ imovel.numero }}
                    {% if imovel.complemento %} - {{ imovel.complemento }}{% endif %}<br/>
                    {{ imovel.cidade.descricao }} - {{ imovel.uf.abreviatura }}<br/>
                    {% if imovel.valor %}
                        {% trans 'A partir de' %} <span class="label destaque-preco">
                        R$ {{ imovel.valor }}</span>
                        {% trans 'a diária' %}
                    {% endif %}
                </div>
            </div>
        </div><!-- end-box -->
        {% empty %}
            <div class="col-md-12"><div class="alert alert-warning">{% trans 'Sem destaques' %}</div></div>
        {% endfor %}

    </div>
</div>
{% endblock %}