{% load i18n %}
{% load static %}
{% get_language_info_list for LANGUAGES as languages %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="pt-br" />

    <meta name="description" content="boralanchar.com.br :: Peça seu lanche!" />
    <meta http-equiv="copyright" content="boralanchar.com.br" />
	<meta name="keywords" content="" />
    <meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache, no-store" />
	<meta http-equiv="expires" content="Mon, 06 Jan 2014 00:00:01 GMT" />

	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow">

    <title>Mobiliados</title>

    <!-- Links -->
    <link rel="index" title="boralanchar.com.br" href="http://www.boralanchar.com.br" />
	<link rel="canonical" href="http://www.boralanchar.com.br" />

    <!-- shortcut icon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon-57-precomposed.png' %}">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/famfamfam-flags.css' %}" rel="stylesheet">
    <link href="{% static 'libs/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-12 page-top">
            <img class="logo-mobiliados" src="{% static 'img/logo-mobiliados-v3.png' %}">
            <span class="top-phone">
                <span class="glyphicon glyphicon-earphone"></span>
                +55 85 8793 6060<br/>
                <span class="glyphicon glyphicon-phone"></span>
                +55 85 3267 4364
            </span>
            <div class="pull-right flags-container">
                <form action="{% url 'set_language' %}" class="navbar-form navbar-left" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    {% for language in languages %}
                        <button {% if language.code == LANGUAGE_CODE %}disabled{% endif %} name="language" type="submit" class="btn btn-xs flag-selected {% if language.code != LANGUAGE_CODE %}flag-unselected{% endif %}" value="{{ language.code }}">
                            <i class="famfamfam-flag-{{ language.code }}" title="{{ language.name_local|capfirst }}"></i>
                        </button>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Imóveis</a></li>
                    <li><a href="#">Condições de locação</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Avaliar a Estadia</a></li>
                            <li><a href="#">Fale Conosco</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

</div>

{% block content %}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                &copy; {% trans 'Company' %} 2014
            </div>
            <div class="col-md-6">
                <form action="{% url 'set_language' %}" class="pull-right" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" onchange='this.form.submit()'>
                        {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local|capfirst }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'libs/flexslider/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/docs.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
