{% load i18n %}
{% load staticfiles %}
{% get_language_info_list for LANGUAGES as languages %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="pt-br" />

    <meta name="description" content="Aluguel de imóveis por temporada e salas e lojas comerciais direto com proprietário em Fortaleza" />
    <meta http-equiv="copyright" content="mobiliados.com.br" />
	<meta name="keywords" content="temporada,aluguel,ferias,mobiliados,apartamento,kitinete,salas,lojas,flats,pousadas,hostel" />

	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow">

    <title>{% trans 'Mobiliados.com.br | Aluguel de imóveis por temporada e salas e lojas comerciais direto com proprietário em Fortaleza' %}</title>

    <!-- shortcut icon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon-57-precomposed.png' %}">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    {% if DEBUG %}
        <link href="{% static 'libs/flexslider/flexslider.css' %}" rel="stylesheet">
        <link href="{% static 'css/1-bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/2-bootstrap-theme.css' %}" rel="stylesheet">
        <link href="{% static 'css/3-famfamfam-flags.css' %}" rel="stylesheet">
        <link href="{% static 'css/4-style.css' %}" rel="stylesheet">
    {% else %}
        <link href="{% static 'libs/flexslider/style.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-12 page-top">
            <a href="{% url 'core:home' %}"><img class="logo-mobiliados" src="{% static 'img/logo-mobiliados-v3.png' %}"></a>
            <span class="top-phone">
                <span class="glyphicon glyphicon-phone"></span>
                <a href="tel:8587936060">+55 85 8793 6060 <small>Oi</small></a><br/>
                <span class="glyphicon glyphicon-phone"></span>
                <a href="tel:8598028080">+55 85 9802 8080 <small>TIM</small></a>
            </span>
            <div class="pull-right flags-container">
                <form action="{% url 'set_language' %}" class="navbar-form navbar-left" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    {% for language in languages %}
                        <button {% if language.code == LANGUAGE_CODE %}disabled{% endif %} name="language" type="submit" class="btn btn-xs flag-selected {% if language.code != LANGUAGE_CODE %}flag-unselected{% endif %}" value="{{ language.code }}">
                            <i class="famfamfam-flag-{{ language.code }}" title="{{ language.name_local|capfirst }}"></i>
                        </button>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="site-home"><a href="{% url 'core:home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    {% if tipo_imoveis %}
                        <li id="site-imoveis" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Imóveis' %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id="site-tipo-imovel-todos"><a href="{% url 'core:imoveis' %}">{% trans 'Todos' %}</a></li>
                                {% for tipo_imovel in tipo_imoveis %}
                                <li id="site-tipo-imovel-{{ tipo_imovel.pk }}"><a href="{% url 'core:imoveis' %}?tipo={{ tipo_imovel.pk }}">{{ tipo_imovel.titulo }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if textos %}
                        {% for texto in textos %}
                        <li id="site-{{ texto.slug }}"><a href="{% url 'core:texto' texto.slug %}">{{ texto.titulo }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="site-fale-conosco"><a href="{% url 'core:fale-conosco' %}"><span class="glyphicon glyphicon-send"></span> {% trans 'Fale conosco' %}</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

</div>

{% block content %}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br/>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                &copy; {% trans 'Mobiliados' %} 2014
            </div>
            <div class="col-xs-6">
                <form action="{% url 'set_language' %}" class="pull-right" method="post">
                    {% csrf_token %}
                    <span class="desc-menor hidden-xs">{% trans 'idioma' %}:</span>
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" onchange='this.form.submit()'>
                        {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local|capfirst }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="col-md-12">
                <hr/>
                {% trans 'Rua República do Líbano, 1080, Meireles, Fortaleza - CE' %}<br/><br/>
                <table>
                    <tr>
                        <td><strong>{% trans 'Contatos' %}:</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>{% trans '+55 85 8793 6161' %}</td><td>&nbsp;<strong>{% trans 'Oi' %}</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;</td><td>{% trans '+55 85 8793 6060' %}</td><td>&nbsp;<strong>{% trans 'Oi' %}</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>{% trans '+55 85 9913 6858' %}</td><td>&nbsp;<strong>{% trans 'TIM' %}</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;</td><td>{% trans '+55 85 9802 8080' %}</td><td>&nbsp;<strong>{% trans 'TIM' %}</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;</td><td>{% trans '+55 85 3267 4364' %}</td><td>&nbsp;<strong></strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td colspan="2"><strong>{% trans 'Lícia Costa' %}</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;</td><td colspan="2"><strong>{% trans 'Denise Costa' %}</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;</td><td colspan="2"><strong>{% trans 'Escritório' %}</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td colspan="7"><hr style="margin: 0; border-style: dashed"/></td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="7">
                            <strong>{% trans 'Email' %}:
                            <a href="mailto:mobiliados@mobiliados.com.br">mobiliados@mobiliados.com.br</a></strong>
                        </td>
                    </tr>
                </table>
                <span class="pull-right help-text">
                    {% trans 'por' %}
                    <a href="mailto:macndesign@gmail.com" target="_blank" class="label label-default">XSD - Mário Chaves</a>
                </span>
            </div>
        </div>
    </div>
</div>
{% if DEBUG %}
    <script src="{% static 'libs/jquery/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/1-bootstrap.js' %}"></script>
    <script src="{% static 'js/2-jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/3-script.js' %}"></script>
{% else %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
{% endif %}
{% block script %}{% endblock %}
</body>
</html>
