body {
    font-family: 'Raleway', sans-serif;
    background: url("../img/bg-v2.jpg");
    color: #51443A;
}

/* Titles */
h1, h2 {
    color: #907968;
    border-bottom: solid 1px #d7cdb7;
    padding-bottom: .4em;
}

/* Links */
a {
    color: #8a6d3b;
}
a:hover {
    color: #b59049;
}

/* Navbar */
.navbar-nav > li > a,
h1, h2 {
    text-transform: uppercase;
}

.navbar-nav > li > a > .glyphicon {
    margin-right: 6px;
}

/* Page top */
.page-top {
    height: 113px;
    position: relative;
}
.page-top img.logo-mobiliados {
    padding: 20px 0 20px;
}

.page-top .top-phone {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 130px;
    bottom: 16px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

/* Internalization */
.flag-selected {
    border: solid 1px #ccc;
    background-color: #ddd;
    padding: 4px 6px 0;
}

.flag-unselected {
    border: solid 1px transparent;
    background-color: transparent;
}

.flag-unselected:hover {
    border: solid 1px #ddd;
    background-color: transparent;
}

.flags-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.flags-container form {
    padding: 0;
    margin: 6px 7px;
}

/* FlexSlider */
#flexslider-detalhe {
    margin-bottom: 1em;
}

.flexslider-destaque {
    margin-bottom: 12px;
}

/* Destaque */
.destaque-desc {
    color: #555;
}

.destaque-desc:nth-child(n+8){
    margin-top: 3em;
}

.destaque-preco {
    font-weight: bold;
    color: #fcf8e3;
    background-color: #8a6d3b;
}

/* Desc */
.desc-menor {
    font-size: .8em
}

/* Parceiros */
.parceiros .title {
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: .8em;
    text-align: right;
}

.parceiros .title strong {
    margin-right: 14px;
}

/* Maps */
.imovel-maps > iframe {
	width: 100%;
	height: 400px;
	border: none;
    -webkit-box-shadow: 0 3px 8px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0 3px 8px 0 rgba(50, 50, 50, 0.5);
    box-shadow:         0 3px 8px 0 rgba(50, 50, 50, 0.5);
}

#mapa {
	width: 96%;
	height: 400px;
    margin: 2%;
	border: none;
    -webkit-box-shadow: 0 3px 8px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0 3px 8px 0 rgba(50, 50, 50, 0.5);
    box-shadow:         0 3px 8px 0 rgba(50, 50, 50, 0.5);
}
.infoBox {
    background-color: #f7f6eb;
    width: 300px;
    font-size: 14px; border: 2px solid #908B7E;
    border-radius: 3px;
    margin-top: 10px;
    min-height: 20px;
}
.infoBox p { padding: 15px }
.infoBox:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #908B7E;
    top: -10px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    left: 138px;
}


.imovel-label-endereco {
    font-size: .8em;
}

.imovel-list {
    background: rgba(255,255,255,.4);
    border-right: 36px;
    padding-top: 12px;
}

/* Messages */
.messages {
    list-style: none;
    padding-left: 0;
}

/* footer */
.footer {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2em 0 2em;
}

@media (min-width: 768px) {
    .container-fluid, .navbar-collapse {
        padding-left: 0;
        padding-right: 7px;
    }
}